.About {
   padding: 0 100px;

   &__collapses {
      margin: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
   }
}

.collapse {
   width: 80%;
   margin-top: 20px;
   margin-bottom: 20px;
}

@media (max-width: 1024px) {
   .collapse {
      width: 100%;
      margin: 10px 0;
   }
}

@media (max-width: 768px) {
   .collapse {
      width: 100%;
      margin: 10px 0;
   }
}
