.home__grid {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 30px;
   padding: 40px;
   background-color: #f1f1f1;
   border-radius: 20px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
   margin-top: 50px;
   margin-bottom: 50px;
}

.home__style {
   padding: 0 100px;
}
