.collapse {
   cursor: pointer;

   &__header {
      background-color: #ff5a5f;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: white;
   }
   &__title {
      margin-left: 10px;
   }
   &__icon {
      margin-right: 10px;
   }

   &__content {
      background-color: #f9f9f9;
      padding: 10px;

      &.open {
         display: block;
      }

      &.closed {
         display: none;
      }
   }

   &__icon {
      transition: transform 0.3s ease;

      &.open {
         transform: rotate(180deg);
      }
   }
}
