.collapse {
   width: 100%;
   margin: 20px 0;
   cursor: pointer;

   &__header {
      background-color: #ff5a5f;
      padding: 10px;
      font-weight: bold;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: white;
   }

   &__content {
      background-color: #f9f9f9;
      padding: 10px;

      &.open {
         display: block;
      }

      &.closed {
         display: none;
      }
   }

   &__icon {
      transition: transform 0.3s ease;

      &.open {
         transform: rotate(180deg);
      }
   }
}

@media (max-width: 1024px) {
   .collapse {
      width: 100%;
   }
}

@media (max-width: 767px) {
   .collapse {
      width: 100%;
   }
}
