.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px 100px 20px 100px;

   &__logo {
      height: 100px;
      display: flex;
      align-items: center;
      img {
         max-height: 100%;
      }
   }

   &__nav {
      display: flex;
      gap: 20px;
   }
   &__link {
      text-decoration: none;
      color: black;
      font-size: 24px;
      font-weight: 500;
      line-height: 17px;
   }
   &__link.active {
      text-decoration: underline;
   }
}

// Media queries pour 768px
@media (max-width: 768px) {
   .header {
      padding: 20px 20px 20px 20px;
      &__logo {
         height: 40px;
         display: flex;
         align-items: center;
      }
   }
}

// Media queries pour 425px
@media (max-width: 425px) {
   .header {
      padding: 20px 20px 20px 20px;
      &__logo {
         height: 20px;
      }
      &__link {
         font-size: 16px;
      }
   }
}
