.banner {
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
   border-radius: 20px;
   &__img {
      background-size: cover;
      background-position: center;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 20px;
   }
   &__text {
      z-index: 1;
      border-radius: 20px;
   }
}
